body {
    position: relative;
}

.reviews-Btn {
    position: fixed;
    top: 50%;
    transform: rotate(-90deg);
    left: -30px;
    z-index: 999999999;
}

.reviews-Btn button {
    border: none;
    background: #1fb2bb;
    padding: 15px 20px;
    font-size: 14px;
    color: #ffff;
}

.message-Btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    z-index: 999999999;
}

.message-Btn button {
    border: none;
    background: none;
    font-size: 40px;
}



.img-wrapper {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 50px;
    background: url(/assets/MORDEN/morden1.jpg) no-repeat center;
    background-size: cover;
}



.img-wrapper a {
    color: #ffff;
    position: relative;
    font-family: 'Paytone One', sans-serif;
    font-size: 60px;
}

main {
    overflow: hidden;
}

.img-wrapper a img {
    opacity: 1;
    width: 100%;
}

.img-wrapper a:hover {
    color: #ffff;
}

.img-wrapper-link {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    height: 100%;
    width: 100%;
}

.img-bg-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100vw;
}

.productList-title a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.productList-title a:hover {
    color: black;
}

.productList-wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
}

.product-detail {
    width: calc(100% /4 - 20px);
    margin: 10px 10px;
    position: relative;
}

.product-price {
    text-align: center;
    font-weight: bold;

}

.product-detail a:hover {
    color: black;
}

.productImg {
    overflow: hidden;
    position: relative;
    height: 250px;
    margin-bottom: 10px;

}

.productImg img {
    max-width: 100%;
    transition: all 0.5s;
}

.productImg .img-change {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

.productImg:hover .img-change {
    opacity: 0;
}

.new-icon-wrapper {
    position: absolute;
    width: 75px;
    height: 60px;
    top: 10px;
    left: 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px
}


.gallery-img-1 {
    width: 39%;
    height: 50vh;
    object-fit: cover;
}

.gallery-img-2 {
    width: 29%;
    height: 50vh;
    object-fit: cover;
}

.gallery-text {
    background: gray;
    width: 29%;
    height: 50vh;
}

.gallery-text .text {

    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 50%;
    transform: translateY(-40px);
    margin-bottom: 30px;

}

.slide {
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.carousel {
    display: block;
}

.carousel-inner {
    height: 50vh;
    display: block;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
}


.detail-content {
    font-family: italic;
}


.buttons {
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 10px;
}

.button {
    margin-left: 10px;
}


.slider {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.blog-slide {
    height: 250px
}

.blog-slide-img {
    margin: 0 auto;
    width: 220px;
    height: 70px;
}

.blog-slide-img.quote {
    object-fit: cover;
    margin: 0 auto;
    width: 80%;
    height: auto;
}

.detail {
    justify-content: center;
    align-items: center;
}

.detail a:hover h3 {
    color: #25a7ad;
}

.add-to-cart {
    margin-top: 20px;
}

.cart {
    height: 50px;
    width: 100%;
}

.add-to-cart:hover .cart {
    background: #1fb2bb;
    color: white;
    font-size: 20px;
    transition: .5s;
}

.shopPay {
    margin-top: 20px;
}

.Pay {
    width: 100%;
    height: 50px;
    background: lightcoral;
}

.blog-title a:hover {
    color: #25a7ad;

}

.blog-content-title {
    margin: 20px 0;
}

.blog-content a:hover h3 {
    color: #25a7ad;
}

.blog-content.middle {
    border-right: 1px solid rgb(211, 211, 211);
    border-left: 1px solid rgb(211, 211, 211);
}

.blog-content {
    padding: 0 20px;

}

.blog-content p {
    text-align: start;
    font-size: 20px;
}